@ppx: 16rem;

@white: #fff;
@red: #ff2f6a;
@light-gray: #f5f5f5;
@mid-gray: #cdcfd5;
@gray: #afb1b6;
@black: #000;
@dark-blue: #314269;

@main-background-color: @dark-blue;
@header-background-color: #4c608a;
@left-menu-background-color: #314269;
@label-color: #485573;
@background-color: #f5f5f5;

@left-column-width: @330pt;
@text-hover-transition: 100ms color ease-in-out;
@text-background-transition: 100ms background-color ease-in-out;

@font-face {
	font-family: 'Ptsans-regular';
	src: url('/vendor/artweb/trickster/cms/fonts/pt-sans.regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ptsans-bold';
	src: url('/vendor/artweb/trickster/cms/fonts/pt-sans.bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'icons';
	src: url('/vendor/artweb/trickster/cms/fonts/icons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html, input, textarea, select, table, tr, td, button {
	font-family: 'Ptsans-regular', sans-serif;
}

h1, h2, h3 {
	font-family: 'Ptsans-bold', sans-serif;
	font-size: @16pt;
	text-transform: uppercase;
}

a {
	text-decoration: underline;
	color: @label-color;
}
