@ppx: 16rem;

@white: #fff;
@red: #ff2f6a;
@highlight: #ff6c00;
@light_gray: #f5f5f5;
@mid_gray: #cdcfd5;
@gray: #afb1b6;
@black: #000;
@dark_blue: #314269;

@main_background_color: @dark_blue;
@header_background_color: #4c608a;
@left_menu_background_color: #314269;
@label_color: #485573;
@background_color: #f5f5f5;

@left_column_width: @330pt;
@text_hover_transition: 100ms color ease-in-out;
@text_background_transition: 100ms background-color ease-in-out;

@font-face {
  font-family: 'Ptsans-regular';
  src: url(getFontUrl('pt-sans.regular.woff')) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ptsans-bold';
  src: url(getFontUrl('pt-sans.bold.woff')) format('woff');
  font-weight: bold;
  font-style: normal;
}

html, input, textarea, select, table, tr, td, button {
  font-family: 'Ptsans-regular', sans-serif;
}

h1, h2, h3 {
  font-family: 'Ptsans-bold', sans-serif;
  font-size: @16pt;
  text-transform: uppercase;
}

a {
  text-decoration: underline;
  color: @label_color;
}
