/********************************************************
/*  BASIC SETTINGS
/********************************************************/
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.main_block {
  position: relative;
  margin: 0 auto;
}

.header_block {
  position: relative;
  .hidden_on_phone();
}

.header_gallery {
}

.clearfix {
  .clearfixin();
}

/********************************************************
/*  COLUMNS
/********************************************************/
.columns_table {
  width: 100%;
  display: flex;
}

.left_column {
  width: 20%;
  padding: 0 3em 0 0;
  min-width: 0;
}

.center_column {
  position: relative;
  min-width: 0; //required to prevent overlapping 
}

.right_column {
  width: 20%;
  padding: 0 0 0 3em;
  min-width: 0;
}

@media (max-width: @screen_breakpoint_md_max) {
  .right_column,
  .left_column {
    display: none !important;
  }
}
