/********************************************************
/*  DROPDOWN
/********************************************************/
.dropdown_placeholder {
	visibility: hidden;
}

.dropdown_block{
	padding: 0.2em 1.6em 0.2em 0.6em;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
}
.dropdown_block,
.dropdown_list {
	color: #000;
	background: #fff;
	border: 1px solid #000;
}

.dropdown_block {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	text-decoration: none;
	outline: none;

	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		right: 0.4em;
		top: 50%;
		margin-top: -0.25em;
		border-left: 0.35em solid transparent;
		border-right: 0.35em solid transparent;
		border-top: 0.5em solid #000;
	}
}

.dropdown_title {
	display: block;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	text-align: left;
	text-overflow: ellipsis;
}

/********************************************************
/*  DROPDOWN LIST
/********************************************************/

.dropdown_list {
	display: none;
	position: absolute;
	z-index: 15;
	box-sizing: border-box;
	border-top: none;
}

.dropdown_option {
	min-height: 1em;
	padding: 0.4em 0.7em;
	display: block;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	z-index: 10;
	outline: none;
	overflow: hidden;
	color: #000;

	&:first-child {
		border-top: none;
	}
}

.dropdown_list_content {
	display: block;
	position: relative;
	overflow: auto;
}