/********************************************************
/*  MAP
/********************************************************/

.map_map {
	overflow: hidden;
	min-height: 1px;
	iframe {
		width: 100%;
		height: 100%;
	}
}
.map_details {
	.contentmodule_content:after {
		display: block;
		content: '';
		clear: left;
	}
}
.gmap_iframe {
	height: 100%;
	position: relative;
	width: 100%;
	min-height: 20rem;

	iframe{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
	}
}
/********************************************************
/*  MAP DETAILS
/********************************************************/
.map_details {
	.contentmodule_content {
		display: flex;
		flex-direction: column;
	}
	.map_content {
		order: 1;
	}
}

//@media (min-width: @screen_breakpoint_lg) {
@media (min-width: 768px) {
	.map_details {
		.clearfixin();

		.contentmodule_content {
			display: block;
		}

		.map_content {
			float: left;
			margin-right: 1em;
			width: 33%;
		}

		.map_address {
			margin-top: 1em;
		}
	}
}