@ppx: 1px;
@1pt: 1/@ppx;
@2pt: 2/@ppx;
@3pt: 3/@ppx;
@4pt: 4/@ppx;
@5pt: 5/@ppx;
@6pt: 6/@ppx;
@7pt: 7/@ppx;
@8pt: 8/@ppx;
@9pt: 9/@ppx;
@10pt: 10/@ppx;
@11pt: 11/@ppx;
@12pt: 12/@ppx;
@13pt: 13/@ppx;
@14pt: 14/@ppx;
@15pt: 15/@ppx;
@16pt: 16/@ppx;
@17pt: 17/@ppx;
@18pt: 18/@ppx;
@19pt: 19/@ppx;
@20pt: 20/@ppx;
@21pt: 21/@ppx;
@22pt: 22/@ppx;
@23pt: 23/@ppx;
@24pt: 24/@ppx;
@25pt: 25/@ppx;
@26pt: 26/@ppx;
@27pt: 27/@ppx;
@28pt: 28/@ppx;
@29pt: 29/@ppx;
@30pt: 30/@ppx;
@31pt: 31/@ppx;
@32pt: 32/@ppx;
@33pt: 33/@ppx;
@34pt: 34/@ppx;
@35pt: 35/@ppx;
@36pt: 36/@ppx;
@37pt: 37/@ppx;
@38pt: 38/@ppx;
@39pt: 39/@ppx;
@40pt: 40/@ppx;
@41pt: 41/@ppx;
@42pt: 42/@ppx;
@43pt: 43/@ppx;
@44pt: 44/@ppx;
@45pt: 45/@ppx;
@46pt: 46/@ppx;
@47pt: 47/@ppx;
@48pt: 48/@ppx;
@49pt: 49/@ppx;
@50pt: 50/@ppx;
@51pt: 51/@ppx;
@52pt: 52/@ppx;
@53pt: 53/@ppx;
@54pt: 54/@ppx;
@55pt: 55/@ppx;
@56pt: 56/@ppx;
@57pt: 57/@ppx;
@58pt: 58/@ppx;
@59pt: 59/@ppx;
@60pt: 60/@ppx;
@61pt: 61/@ppx;
@62pt: 62/@ppx;
@63pt: 63/@ppx;
@64pt: 64/@ppx;
@65pt: 65/@ppx;
@66pt: 66/@ppx;
@67pt: 67/@ppx;
@68pt: 68/@ppx;
@69pt: 69/@ppx;
@70pt: 70/@ppx;
@71pt: 71/@ppx;
@72pt: 72/@ppx;
@73pt: 73/@ppx;
@74pt: 74/@ppx;
@75pt: 75/@ppx;
@76pt: 76/@ppx;
@77pt: 77/@ppx;
@78pt: 78/@ppx;
@79pt: 79/@ppx;
@80pt: 80/@ppx;
@81pt: 81/@ppx;
@82pt: 82/@ppx;
@83pt: 83/@ppx;
@84pt: 84/@ppx;
@85pt: 85/@ppx;
@86pt: 86/@ppx;
@87pt: 87/@ppx;
@88pt: 88/@ppx;
@89pt: 89/@ppx;
@90pt: 90/@ppx;
@91pt: 91/@ppx;
@92pt: 92/@ppx;
@93pt: 93/@ppx;
@94pt: 94/@ppx;
@95pt: 95/@ppx;
@96pt: 96/@ppx;
@97pt: 97/@ppx;
@98pt: 98/@ppx;
@99pt: 99/@ppx;
@100pt: 100/@ppx;
@101pt: 101/@ppx;
@102pt: 102/@ppx;
@103pt: 103/@ppx;
@104pt: 104/@ppx;
@105pt: 105/@ppx;
@106pt: 106/@ppx;
@107pt: 107/@ppx;
@108pt: 108/@ppx;
@109pt: 109/@ppx;
@110pt: 110/@ppx;
@111pt: 111/@ppx;
@112pt: 112/@ppx;
@113pt: 113/@ppx;
@114pt: 114/@ppx;
@115pt: 115/@ppx;
@116pt: 116/@ppx;
@117pt: 117/@ppx;
@118pt: 118/@ppx;
@119pt: 119/@ppx;
@120pt: 120/@ppx;
@121pt: 121/@ppx;
@122pt: 122/@ppx;
@123pt: 123/@ppx;
@124pt: 124/@ppx;
@125pt: 125/@ppx;
@126pt: 126/@ppx;
@127pt: 127/@ppx;
@128pt: 128/@ppx;
@129pt: 129/@ppx;
@130pt: 130/@ppx;
@131pt: 131/@ppx;
@132pt: 132/@ppx;
@133pt: 133/@ppx;
@134pt: 134/@ppx;
@135pt: 135/@ppx;
@136pt: 136/@ppx;
@137pt: 137/@ppx;
@138pt: 138/@ppx;
@139pt: 139/@ppx;
@140pt: 140/@ppx;
@141pt: 141/@ppx;
@142pt: 142/@ppx;
@143pt: 143/@ppx;
@144pt: 144/@ppx;
@145pt: 145/@ppx;
@146pt: 146/@ppx;
@147pt: 147/@ppx;
@148pt: 148/@ppx;
@149pt: 149/@ppx;
@150pt: 150/@ppx;
@151pt: 151/@ppx;
@152pt: 152/@ppx;
@153pt: 153/@ppx;
@154pt: 154/@ppx;
@155pt: 155/@ppx;
@156pt: 156/@ppx;
@157pt: 157/@ppx;
@158pt: 158/@ppx;
@159pt: 159/@ppx;
@160pt: 160/@ppx;
@161pt: 161/@ppx;
@162pt: 162/@ppx;
@163pt: 163/@ppx;
@164pt: 164/@ppx;
@165pt: 165/@ppx;
@166pt: 166/@ppx;
@167pt: 167/@ppx;
@168pt: 168/@ppx;
@169pt: 169/@ppx;
@170pt: 170/@ppx;
@171pt: 171/@ppx;
@172pt: 172/@ppx;
@173pt: 173/@ppx;
@174pt: 174/@ppx;
@175pt: 175/@ppx;
@176pt: 176/@ppx;
@177pt: 177/@ppx;
@178pt: 178/@ppx;
@179pt: 179/@ppx;
@180pt: 180/@ppx;
@181pt: 181/@ppx;
@182pt: 182/@ppx;
@183pt: 183/@ppx;
@184pt: 184/@ppx;
@185pt: 185/@ppx;
@186pt: 186/@ppx;
@187pt: 187/@ppx;
@188pt: 188/@ppx;
@189pt: 189/@ppx;
@190pt: 190/@ppx;
@191pt: 191/@ppx;
@192pt: 192/@ppx;
@193pt: 193/@ppx;
@194pt: 194/@ppx;
@195pt: 195/@ppx;
@196pt: 196/@ppx;
@197pt: 197/@ppx;
@198pt: 198/@ppx;
@199pt: 199/@ppx;
@200pt: 200/@ppx;
@213pt: 213/@ppx;
@215pt: 215/@ppx;
@245pt: 245/@ppx;
@248pt: 248/@ppx;
@256pt: 256/@ppx;
@260pt: 260/@ppx;
@262pt: 262/@ppx;
@264pt: 264/@ppx;
@277pt: 277/@ppx;
@283pt: 283/@ppx;
@283pt: 283/@ppx;
@284pt: 284/@ppx;
@288pt: 288/@ppx;
@293pt: 293/@ppx;
@326pt: 326/@ppx;
@345pt: 345/@ppx;
@400pt: 400/@ppx;
@416pt: 416/@ppx;
@427pt: 427/@ppx;
@429pt: 429/@ppx;
@437pt: 437/@ppx;
@457pt: 457/@ppx;
@500pt: 500/@ppx;
@540pt: 540/@ppx;
@602pt: 602/@ppx;
@659pt: 659/@ppx;
@683pt: 683/@ppx;
@674pt: 674/@ppx;
@787pt: 787/@ppx;
@968pt: 968/@ppx;
@1244pt: 1244/@ppx;

// Breakpoints from Bootstrap
// =====================================================
@screen_breakpoint_xs: 386px;
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default

// Small devices (landscape phones, 576px and up)
@screen_breakpoint_sm: 576px;
// Medium devices (tablets, 768px and up)
@screen_breakpoint_md: 768px;
// Large devices (desktops, 992px and up)
@screen_breakpoint_lg: 992px;
// Extra large devices (large desktops, 1200px and up)
@screen_breakpoint_xl: 1200px;
// The largest devices (desktops, 1200px and up)
@screen_breakpoint_xxl: 1600px;

@screen_breakpoint_xs_max: @screen_breakpoint_sm - 1;
@screen_breakpoint_sm_max: @screen_breakpoint_md - 1;
@screen_breakpoint_md_max: @screen_breakpoint_lg - 1;
@screen_breakpoint_lg_max: @screen_breakpoint_xl - 1;
@screen_breakpoint_xl_max: @screen_breakpoint_xxl - 1;
