.products_filter_price_top {
    display: flex;
    flex-wrap: nowrap;
}

.products_filter_price_field {
    display: flex;
    flex-basis: 50%;

    &:first-child {
        margin-right: 2rem;
    }

    .input_component {
        overflow: hidden;
        flex-grow: 1;
        width: 100%;
    }
}

.products_filter_price_field_currency {
    margin-left: 0.5em;
}


.products_filter_price_control_bar {
    margin-bottom: 0.5rem;
    margin-top: 1em;
    position: relative;
    background-color: @trick_bg_color_05;
    border-bottom: 1px solid @trick_brd_color_05;
    height: 1px;
}

.products_filter_price_control_knob {
    cursor: pointer;
    background-color: @trick_bg_color_04;
    border: 1px solid @trick_brd_color_02;
    display: block;
    height: 1em;
    position: absolute;
    top: -0.5em;
    width: 0.5em;
}

.products_filter_price_control_knob_left {
    left: 0;
}

.products_filter_price_control_knob_right {
    right: 0;
}