.primary_parameters_info_table {
	display: table;
}

.primary_parameters_info_table_body {
	display: table-row-group;
}

.primary_parameters_info_table_row {
	display: table-row;
}

.primary_parameters_info_table_title {
	display: table-cell;
}

.primary_parameters_info_table_title_parameters {
	display: table-cell;
}

.primary_parameters_info_table_title_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}