.subarticle {
}

.subarticle_title {
	font-weight: 500;
	color: @primary_text_color;
	font-size: 16px;
	padding-right: @24pt;
}

.subarticle_accordeon_title {
	font-size: @16pt;
	font-weight: 500;
	color: @primary_text_color;
	margin-bottom: @16pt;
}

.subarticle_simple_image {
	margin-bottom: @16pt;
}