.productsearch_controls {
    margin-top: 1em;
    text-align: center;
}

.productsearch_results {
    .pager_block {
        margin-bottom: 1rem;
    }

    .pager_block {
        &:last-child {
            margin-bottom: 0;
            margin-top: 1em;
        }
    }
}

.productsearch_field {
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.productsearch_field_checkbox {
    margin-bottom: 0.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productsearch_field_checkbox_label {
    margin-left: 0.5em;
}

.productsearch {
    .dropdown_block {
        width: auto;
        display: block;
    }

    .dropdown_block:hover {
        text-decoration: none;
    }

    .mobilemenu & {
		padding: 0 1rem;
    }
}

.productsearch_field_label {
    display: block;
    position: relative;
}

.products_filter_checkboxes {
    .productsearch_field_label {
        cursor: pointer;
        margin-bottom: 0.2em;
    }
}

.products_filter_checkboxes_icon {
    position: absolute;
    right: 0.25em;
    top: 50%;
}

.products_filter_checkboxes_collapsed {
    .productsearch_field_controls {
        display: none;
    }
}

.productsearch_reset {
    display: block;
    margin-bottom: 0.5rem;
}