.shoppingbasket_paymentmethods {
	margin-top: 1em;
	margin-bottom: 2em;

	&_title {
		margin-bottom: 1em;
	}

	&_error {
		font-style: italic;
		color: red;
		margin-bottom: 2em;
	}
}

.shoppingbasket_paymentmethod {
	display: inline-block;
	vertical-align: middle;
	margin-right: 2em;
	margin-bottom: 1em;

	.radiobutton {
		margin-right: 1em;
		vertical-align: middle;
	}

	&_image {
		display: inline-block;
	}

	&_text {
		display: inline-block;
		vertical-align: middle;
	}
}