.subarticle {
}

.subarticle_title {
    font-weight: 500;
    padding-right: 2rem;
}

.subarticle_accordeon_title {
    font-weight: 500;
    margin-bottom: 1rem;
}

.subarticle_simple_image {
    margin-bottom: 1rem;
}