/********************************************************
/*  PRODUCTS SEARCH RESULT
/********************************************************/
.search_result_set_product {
	.search_result_set_items {
		.products_list();
	}
}

/********************************************************
/*  PRODUCT THUMBNAIL VIEW
/********************************************************/
.product_thumbnail {
	display: inline-block;
	text-decoration: none;
	vertical-align: top;
	.grid_item(4);
}

.product_thumbnail_link {
	color: inherit;
	display: block;
	position: relative;
	text-decoration: none;
}

.product_thumbnail_image_container {
	overflow: hidden;
}

.product_thumbnail_image {
	display: block;
	width: 100%;
}

.product_thumbnail_title {
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 1.5em;
}

.product_thumbnail_price {
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 0.5em;
}

/* discounts */

.product_thumbnail_icons {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	right: 0.5em;
	text-align: left;
}

.product_thumbnail_icons_image {
	vertical-align: top;
	margin: 0.5em;
}

//.product_discount_container {
//	display: inline-block;
//	background-color: @trick_bg_color_01;
//	border: 2px solid @trick_brd_color_13;
//	border-radius: 50%;
//	width: 4em;
//	height: 4em;
//	margin-left: -0.5em;
//	margin-top: -0.7em;
//	.product_discount {
//		font-size: 1.412em;
//		font-weight: bold;
//		display: block;
//		color: @trick_text_color_12;
//		text-align: center;
//		margin-top: 0.7em;
//	}
//}

/********************************************************
/*  PRODUCT WIDE VIEW
/********************************************************/
.product_wide {
	display: block;
	margin-bottom: 1em;
	box-sizing: border-box;
	position: relative;
}

.product_wide_image {
	width: 100%;
}

.product_wide_content {
	position: relative;
}

.product_wide_title {
}

.product_wide_column_right {
	padding: 0 0 4em 1em;
	text-align: right;
}

.product_wide_parameters {
	margin-top: 1em;
	table-layout: fixed;
	width: 100%;
}

.product_wide_parameter {
	font-size: 0.9em;
	width: 33%;
}

.product_wide_parameter_title {
	margin-right: 1em;
}

.product_wide_price {
	font-size: 1.3em;
	margin-bottom: 0.5em;
}

.product_wide_code {
	display: block;
	margin-bottom: 0.5em;
}

.product_wide_controls {
	.product_short_amount_block {
		vertical-align: top;
	}

	.product_short_basket {
		vertical-align: top;
	}
}

.product_wide_button {
	display: inline-block;
	margin-left: 1em;
}

.product_wide_icons {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
}

.product_wide_icons_image {
	vertical-align: top;
	margin: 0.5em;
}

/********************************************************
/*  PRODUCT DETAILED VIEW
/********************************************************/
.product_detailed {
	display: inline-block;
	position: relative;
	vertical-align: top;
	.grid_item(4);
}

.product_detailed_header {
	.clearfixin();
	overflow: hidden;
	margin-bottom: 1em;
}

.product_detailed_price {
	display: block;
	position: relative;
	text-align: left;
	margin-bottom: 0.5em;
}

.product_detailed_column_right {
	padding: 0 0 1em 0;
}

.product_detailed_introduction {
	margin-top: 1em;
}

.product_detailed_options {
	margin-top: 1em;
}

.product_detailed_option {
	margin-top: 0.5em;
}

.product_detailed_option_title {
	margin-bottom: 0.25em;
}

.product_detailed_option_select {
	width: 100%;
	box-sizing: border-box;
}

.product_detailed_parameters {
}

.product_detailed_parameter_key {
	vertical-align: top;
	text-align: right;
	padding-right: 0.5em;
}

.product_detailed_parameter_value {
	vertical-align: top;
	text-align: left;
}

.product_detailed_parameters td {
}

.product_detailed_link {
	bottom: 1em;
	display: block;
	position: absolute;
	right: 1em;
}

.product_detailed_controls {

	right: 0.5em;
	bottom: 0.5em;
}

.product_detailed_button {
	display: block;

	&:first-child {
		margin-bottom: 0.5em;
	}
}

.product_detailed_icons {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	right: 0.5em;
}

.product_detailed_icons_image {
	vertical-align: top;
	margin: 0.5em;
}

.product_detailed_image {
	max-width: 100%;
}

@media (max-width: @screen_breakpoint_md) {
	.product_detailed_controls {
		position: static;
	}

}

/********************************************************
/*  PRODUCT SMALL THUMBNAIL VIEW
/********************************************************/
.product_thumbnailsmall {
	display: inline-block;
	text-decoration: none;
	vertical-align: top;
	.grid_item(6);
}

.product_thumbnail_status {
	display: block;
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	font-style: normal;
}

.product_thumbnailsmall_link {
	color: inherit;
	display: block;
	text-decoration: none;
	position: relative;
}

.product_thumbnailsmall_image_container {
	display: block;
	text-align: center;
	margin-bottom: 0.5em;
	position: relative;

	.product_thumbnailsmall_image {
		display: block;
		width: 100%;
	}
}

.product_thumbnailsmall_title {
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 0.5em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.product_thumbnailsmall_price {
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 0.5em;
}

.product_thumbnailsmall_status {
	display: block;
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	font-style: normal;
}

.product_thumbnailsmall_icons {
	position: absolute;
	top: 0.25em;
	left: 0.25em;
	right: 0.25em;
	text-align: left;
}

.product_thumbnailsmall_icons_image {
	vertical-align: top;
	margin: 0.25em;
	max-width: 30%;
}

/********************************************************
/*  PRODUCT SHORT
/********************************************************/

.product_short_amount_button {
	min-width: 0;
}

.product_short_amount_block {
	display: inline-block;
	white-space: nowrap;

	.input_component {
		margin: 0 0.25em;
		text-align: center;
	}
}

.product_short_controls {
	margin-top: 0.5em;
}

.category_products_table_amount_cell .product_short_controls {
	margin-top: 0;
}

.product_parameter_icons_item {
	margin: 0.1em;
	display: inline-block;
}

/********************************************************
/*  PRODUCT SMALL BUTTON VIEW
/********************************************************/
.product_buttonsmall {
	display: inline-block;
	text-decoration: none;
	vertical-align: top;
	.grid_item(5);
}

.product_thumbnail_status {
	display: block;
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	font-style: normal;
}

.product_buttonsmall_link {
	color: inherit;
	display: block;
	text-decoration: none;
	position: relative;
}

.product_buttonsmall_image_container {
	display: block;
	text-align: center;
	margin-bottom: 0.5em;
	position: relative;

	.product_buttonsmall_image {
		display: block;
		width: 100%;
	}
}

.product_buttonsmall_title {
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 0.5em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.product_buttonsmall_price {
	display: block;
	position: relative;
	text-align: center;
	margin-bottom: 0.5em;
}

.product_buttonsmall_status {
	display: block;
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	font-style: normal;
}

.product_buttonsmall_icons {
	position: absolute;
	top: 0.25em;
	left: 0.25em;
}

.product_buttonsmall_icons_image {
	vertical-align: top;
	margin-left: 1em;
	margin-bottom: 1em;

	&:first-child {
		margin-left: 0;
	}
}